@import url("styles/cabecalho.css");
@import url("styles/principal.css");
@import url("styles/rodape.css");

:root {
    --cor-primaria: #1B2530;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #F2F4F6;
    --cor-rodape: #222222;
    --cor-direitos: #949494;
    --cor-botao: #0F79AF;
    --cor-botao-hover: #73bbde;
    --fonte-primaria: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    background-color: black;
}